In [21]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df =  pd.read_csv('tweet_all2.csv',  sep=';;', on_bad_lines='skip',lineterminator='\r', engine ='python')
df.head(10)

,id,text,created_at,author_id,lang,in_reply_to_user_id
0,1000016383915253765,"@CleberEsteves09, bom dia. A Imigrantes, neste...",2018-05-25 14:10:59,138075168,pt,96735968
1,1000016491390099456,Oposição cabo-verdiana entrega projeto para re...,2018-05-25 14:11:25,1690412382,pt,None
2,1000016689931653123,"""Cheguei a São Paulo como refugiado. Tinha 16 ...",2018-05-25 14:12:12,2149024418,pt,None
3,1000016951853318145,"""Cheguei a São Paulo como refugiado. Tinha 16 ...",2018-05-25 14:13:15,26411144,pt,None
4,1000017172918358016,@Grettux_MG @SenhooraDepp @KaySsicaBaby No tt ...,2018-05-25 14:14:08,818123243924160513,pt,2493509342
5,1000017631733272577,Deu certo para caralho a “democracia” socialis...,2018-05-25 14:15:57,19994120,pt,None
6,1000017703409737728,"@leandroantoniop, bom dia. O trecho de Itanhaé...",2018-05-25 14:16:14,138075168,pt,2889544265
7,1000017730848911360,Bom.dia!\,None,None,None,None
8,"Rodovias Anchieta, Imigrantes, Rodoanel e Regi...",None,None,None,None,None
9,Acabou os combustíveis e a greve segue pelo qu...,None,None,None,None,None

In [9]:
def parse_date(date_str):
    try:
        return pd.to_datetime(date_str)
    except:
        return pd.NaT  

#  parsing function
df['created_at'] = df['created_at'].apply(parse_date)

# Drop rows with missing dates
df = df.dropna(subset=['created_at'])

# Extract the 'date' and 'time' components
df['date'] = df['created_at'].dt.date
df['time'] = df['created_at'].dt.time

# updated DataFrame
df.to_csv('tweet_all2_updated.csv', index=False)

In [8]:
print(df.head(10))

                     id                                               text  \
0   1000016383915253765  @CleberEsteves09, bom dia. A Imigrantes, neste...
1   1000016491390099456  Oposição cabo-verdiana entrega projeto para re...
2   1000016689931653123  "Cheguei a São Paulo como refugiado. Tinha 16 ...
3   1000016951853318145  "Cheguei a São Paulo como refugiado. Tinha 16 ...
4   1000017172918358016  @Grettux_MG @SenhooraDepp @KaySsicaBaby No tt ...
5   1000017631733272577  Deu certo para caralho a “democracia” socialis...
6   1000017703409737728  @leandroantoniop, bom dia. O trecho de Itanhaé...
11  1000018366382342144  ontem eu voltando do jogo com a torcida, passa...
12  1000018971494617089  A presidente do Partido Africano da Independên...
13  1000019108010840065  Adicionei um vídeo a uma playlist @YouTube htt...

            created_at           author_id lang in_reply_to_user_id  \
0  2018-05-25 14:10:59           138075168   pt            96735968
1  2018-05-25 14:11:25          1690412382   pt                None
2  2018-05-25 14:12:12          2149024418   pt                None
3  2018-05-25 14:13:15            26411144   pt                None
4  2018-05-25 14:14:08  818123243924160513   pt          2493509342
5  2018-05-25 14:15:57            19994120   pt                None
6  2018-05-25 14:16:14           138075168   pt          2889544265
11 2018-05-25 14:18:52           531488945   pt                None
12 2018-05-25 14:21:16  963759647952863233   pt                None
13 2018-05-25 14:21:49            56662028   pt                None

          date      time
0   2018-05-25  14:10:59
1   2018-05-25  14:11:25
2   2018-05-25  14:12:12
3   2018-05-25  14:13:15
4   2018-05-25  14:14:08
5   2018-05-25  14:15:57
6   2018-05-25  14:16:14
11  2018-05-25  14:18:52
12  2018-05-25  14:21:16
13  2018-05-25  14:21:49

In [18]:
# Convert to datetime format
df['created_at'] = pd.to_datetime(df['created_at'])
df['date'] = df['created_at'].dt.date

# Filter rows for the years 2015 to 2019 (BECAUSE SOME WEIRD YEARS APPEARED - MAYBE BECAUSE OF THE CODE BEFORE :((( )
filtered_df = df[(df['created_at'] >= pd.Timestamp('2015-01-01')) & (df['created_at'] <= pd.Timestamp('2019-12-31'))]

# freq 2015 to 2019
year_frequency = filtered_df.groupby(filtered_df['created_at'].dt.year)['date'].count()

print(year_frequency)

created_at
2015    151526
2016    169622
2017    154881
2018    146266
2019    139898
Name: date, dtype: int64

In [19]:
# Filter rows for the years 2015 to 2019
filtered_df = df[(df['created_at'] >= pd.Timestamp('2015-01-01')) & (df['created_at'] <= pd.Timestamp('2019-12-31'))]

# Group by year and month and freq
year_monthly_frequency = filtered_df.groupby([filtered_df['created_at'].dt.year, filtered_df['created_at'].dt.month])['date'].count()

print(year_monthly_frequency)

# THERE IS NO JANUARY :/ SOMETHING IS WRONG

created_at  created_at
2015        2             10492
            3              9450
            4             12658
            5             14956
            6             14181
            7             12928
            8             15582
            9             15918
            10            15456
            11            15034
            12            14871
2016        1             14803
            2             13798
            3             14586
            4             14373
            5             13889
            6             14141
            7             14199
            8             13963
            9             14375
            10            14583
            11            13586
            12            13326
2017        1             13560
            2             13565
            3             13805
            4             12362
            5             14012
            6             13105
            7             12166
            8             12903
            9             12070
            10            12238
            11            12794
            12            12301
2018        1             12890
            2             11591
            3             13174
            4             11717
            5             12177
            6             12397
            7             11525
            8             11757
            9             12002
            10            12614
            11            11506
            12            12916
2019        1             11327
            2             11478
            3             11450
            4             11722
            5             12011
            6             11903
            7             12328
            8             12745
            9             11141
            10            11643
            11            10103
            12            12047
Name: date, dtype: int64