In [1]:
import pandas as pd

In [2]:
df =  pd.read_csv('public_metrics.csv',  sep=';;', on_bad_lines='skip',lineterminator='\r', engine ='python')
df.head(10)

                 tweet  retweet_count  reply_count  like_count  quote_count
0  1000016383915253765              0            2           1            0
1  1000016491390099456              0            0           0            0
2  1000016689931653123              0            0           1            1
3  1000016951853318145              0            0           0            0
4  1000017172918358016              0            3           1            0
5  1000017631733272577              0            6          31            1
6  1000017703409737728              0            1           0            0
7  1000017730848911360              0            0           0            0
8  1000018366382342144              0            0           1            0
9  1000018971494617089              0            0           0            0

In [3]:
# Calculate the sum of each column
sum_retweet_count = df['retweet_count'].sum()
sum_reply_count = df['reply_count'].sum()
sum_like_count = df['like_count'].sum()
sum_quote_count = df['quote_count'].sum()

# Print the sums
print("Sum of retweets:", sum_retweet_count)
print("Sum of replies:", sum_reply_count)
print("Sum of likes:", sum_like_count)
print("Sum of quotations:", sum_quote_count)

Sum of retweets: 155784069
Sum of replies: 121044
Sum of likes: 1229057
Sum of quotations: 37597

In [9]:
# Calculate the median
median_like_count = df['like_count'].median()

# Print the median
print("Median of likes:", median_like_count)

Median of likes: 0.0

In [8]:
# Calculate the median
median_like_count = df['retweet_count'].median()

# Print the median
print("Median of RT:", median_like_count)

Median of RT: 1.0