In [4]:
import pandas as pd

In [30]:
df =  pd.read_csv('users.csv',  sep=';;', on_bad_lines='skip',lineterminator='\r', engine ='python')
df.head(10)

,users_id,name,username,location,verified
0,10000006818,Tomas,TomasMP5,None,False
1,10000010391,Castelão,Castelao9,None,False
2,10000047481,Raquel Stasiaki,RaquelStasiaki,Nova Iguaçu - Rio de Janeiro,False
3,1000006250,margarida,margaridaf__,None,False
4,1000006904,José Apparecido,JApparec,None,False
5,10000082033,ραυłσ,Paulo_05P,Braga,False
6,1000008756,lésbisca da alma espremida,blckheartd,bh,False
7,10000117634,Ana Marta,anamartacc71,None,False
8,10000120858,Léo,LeoFernandezz10,"Funchal, Portugal",False
9,10000122261,????,jpab_50,Alentexas,False

In [29]:
df = pd.read_csv('users.csv', sep=';;', on_bad_lines='skip', lineterminator='\r', engine='python')

# Count the number of 'True' and 'False' in the 'verified' column
true_count = (df['verified'] == 'True').sum()
false_count = (df['verified'] == 'False').sum()

print(f"Number of Verified Twitter accounts: {true_count}")
print(f"Number of Not Verified Twitter accounts: {false_count}")

Number of Verified Twitter accounts: 2570
Number of Not Verified Twitter accounts: 205502

In [28]:
# Percentages
percentage_true = (true_count / total_rows) * 100
percentage_false = (false_count / total_rows) * 100

print(f"Percentage of Verified Twitter accounts: {percentage_true:.2f}%")
print(f"Percentage of Not Verified Twitter accounts: {percentage_false:.2f}%")

Percentage of Verified Twitter accounts: 1.23%
Percentage of Not Verified Twitter accounts: 98.72%